name: Auto update sqlcipher

on:
  schedule:
    # runs Tue at 12:00 am
    - cron: '0 0 * * 2'
  push:
  workflow_dispatch:
    inputs:
      version:
        description: dummy
        default: dummy


jobs:
  auto-update-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Run auto dependency update
      run: ./tools/download_sqlcipher_amalgamation.sh

    - name: check for changes
      run:  git diff || echo "no changes"

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: update sqlcipher
        branch: create-pull-request/sqlcipher
        delete-branch: true
        title: 'update sqlcipher'
